@import "~bootstrap/scss/bootstrap"; // never forget the semicolon at the end

.card-img-top {
    height: 150px;
}

select, input, textarea {
    width: 100%;
    // margin: 10px 0;
    outline: none;
    border: 1px solid #ddd;
    padding: 5px 0;
}

.carclub { 
    font-size: 35px;
}